.navbar {
    position: sticky;
    z-index: 40;
    min-height: 20px;
    background-color: white;
    border-style: none none solid none;
    border-color: #f1f1f1;
    border-width: 1px;
}
.navbar .content{
    padding: 0 20px 0 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: calc(1020px - (30px * 2));
    display: flex;
    flex-direction:row;
}
.navbar .navbar_menus {
    flex: 10;
    display:flex;
    justify-content:center;
    align-items: stretch;
}
.navbar .navbar_menus .menu_items{
    flex: 1;
    display:flex;
    justify-content:flex-start;
    align-items: center;
}

.navbar .navbar_menus .menu_items a{
    padding: 10px 0 10px 0;
}

.navbar .navbar_links {
    flex: 1;
    display:flex;
    justify-content:flex-end;
    align-items: center;
}

.navbar .navbar_links .logo {
    display: none;
  }

.navbar .navbar_links .logo .logoimg {
    height:15px;
  }

.navbar .navbar_links {
    flex: 1;
    display:flex;
    justify-content:flex-end;
    align-items: center;
}

.navbar .navbar_links :is(.link_items, .link_items_toggled){
    background-color: white;
    flex: 1;
    display:flex; 
    justify-content:flex-end;
    align-items: center;
    height: 100%;
    overflow: hidden;
}

.navbar .navbar_links :is(.link_items, .link_items_toggled) nav {
    padding: 0 10px;
    flex:1;
    display: flex;
    height: 100%;
}

.navbar .navbar_links :is(.link_items, .link_items_toggled) nav a{
    display: flex;
    align-items: center;
}

.navbar .navbar_links :is(.link_items, .link_items_toggled) .link_selected {
    background-color: rgba(89, 89, 89, 0.745);
    box-shadow:black 10px
    box
}

.navbar .navbar_links :is(.link_items, .link_items_toggled) nav:hover {
    background-color: #f1f1f1;
    cursor:pointer;
}



@media (max-width: 600px) {

    .navbar .navbar_links .logo{
        display: flex;
        background-color: white;
        border-width: 0;
        border-radius: 2px;
        cursor: pointer;
    }

    .navbar .navbar_links .logo:active{
        background-color: #f1f1f1;;
    }

    .navbar .navbar_links .link_items{
        display: none;
        flex-direction: column;
        position: absolute;
        top: 38px;
        right: 0;
        height: unset;
    }

    .navbar .navbar_links .link_items_toggled{
        display:flex;
        flex-direction: column;
        position: absolute;
        top: 38px;
        right: 0;
        height: unset;
    }

    .navbar .navbar_links :is(.link_items, .link_items_toggled) nav {
        padding: 10px;
        width: 100%;
        display: flex;
        justify-content: center;
        border: #f1f1f1;
        border-width: 1px;
        border-style: none none solid none;
    }

    .navbar .navbar_links :is(.link_items, .link_items_toggled) div:hover {
        background-color: #f1f1f1;
        cursor:pointer;
    }

    .navbar .navbar_links :is(.link_items, .link_items_toggled) div:active {
        background-color: rgba(89, 89, 89, 0.745);
        cursor:pointer;
    }

    
  }

